@import "../../vars.css";

.container{
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects{
   margin-top: 37px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 15px;
   width: 100%;
}