.educationSection {
  /* background: #f8f9fa; */
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 700;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  border-left: 3px solid #202327;
}

.timelineItem {
  position: relative;
  padding-left: 20px;
}

.timelineItem::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: #473472;
  border-radius: 50%;
  border: 3px solid white;
}

.content {
  background: #0f172a;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: all 0.3s ease;
}

.content:hover {
  transform: translateY(-5px);
}

.degree {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: #222; */
}

.institution {
  font-size: 1rem;
  /* color: #555; */
  margin: 5px 0;
}

.year {
  font-size: 0.9rem;
  /* color: #007bff; */
  font-weight: 500;
}

.details {
  font-size: 0.95rem;
  /* color: #444; */
  margin-top: 8px;
}
