@import "../../vars.css";

.container {
 color: var(--color-text);
 background: var(--color-secondary);
 display: flex;
 flex-direction: row;
 margin-top: 130px;
 justify-content: space-evenly;
 width: 100vw;
 padding: 57px 10%;
 gap: 10px;
}

.text h2{
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 4px ;
}

.text p{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 30px;
}

.link{
    display: flex;
    align-items: center;
    gap: 30px;
}

.link a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px; 
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding: 30px 5%;
    }

    .text h2 {
        font-size: 60px;
    }

    .text p {
        font-size: 30px;
    }

    .links {
        align-items: center;
        gap: 20px;
    }

    .link {
        gap: 20px;
    }

    .link a {
        font-size: 16px;
    }
    
}