:root{
    /* Colors */
    --color-text: #fff;
    --color-primary: #3E1E68;
    --color-secondary: #5D2F77;
    --color-dark: #0b2447;
    --color-bg: #020617;

    /* Fonts */

    --font-roboto: "Roboto";
}
