:root {
  --color-bg: #8b5e34;        /* main background */
  --color-dark: #0f172a;      /* sections / navbar */
  --color-primary: #38bdf8;   /* accent / buttons */
  --color-text: #e5e7eb;      /* text */
    /* Fonts */

    --font-roboto: "Roboto";
}
